name: Test Self-Hosted Runner

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - main

jobs:
  build:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Verify Tools
      run: |
        echo "Running on a self-hosted runner!"
        echo "Verifying tools..."
        az --version
        kubectl version --client
        docker --version
        echo "All tools are available."
